<h1>New book</h1>
<%= form_with model: @book, url: books_path(from: from), local: true do |f| %>
  <div class="form-group">
    <h4>Title</h4>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <h4>Opinion</h4>
    <%= f.text_area :body, class: "form-control" %>
  </div>
  <%= f.submit 'Create Book', class: "btn btn-success mb-3" %>
<% end %>